<!DOCTYPE html>
<html>
  <head>
    <title>Morti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Morti</h1>
        <nav>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Warchests', warchests_path %></li>
          </ul>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <p>&copy; 2023 Morti. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>